doctype html
html
 head
  title MyAuth
  style
   include ../stylesheets/style.css
 nody
  form(action="/logged", method="post")
   h1 Sign In
   input(type="text", name="username", placeholder="Username", autocomplete="off")
   br
   input(type="password", name="password", placeholder="Password")
   br
   button(type="submit") Send